{
    "extends": "@antfu",
    "rules": {
        "@typescript-eslint/indent": "off",
        "yml/indent": ["warn", 4],
        "no-console": "warn",
        "arrow-parens": "off",
        "@typescript-eslint/semi": "off",
        "@typescript-eslint/brace-style": "off",
        "@typescript-eslint/member-delimiter-style": "off",
        "@typescript-eslint/no-unused-vars": "warn",
        "space-before-function-paren": "off",
        "antfu/if-newline": "off",
        "semi": "off",
        "curly": "off",
        "vue/html-indent": ["warn", 4],
        "vue/singleline-html-element-content-newline": "off",
        "vue/component-tags-order": "off"
    }
}
